*,
*:before,
*:after {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main {
  font-family: "Montserrat", sans-serif;
  width: max-content;
  min-width: 350px;
  margin: 40px auto;
  padding: 25px 28px;
  background: #fff;
  border-radius: 0px;
  border: 0px solid #302d2d;
}
@keyframes popup {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #313131;
}
.input-parent {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin-bottom: 20px;
}
label {
  font-family: "Montserrat", sans-serif;
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #313131;
}
.input-parent input {
  font-family: "Montserrat", sans-serif;
  padding: 10px 8px;
  width: 100%;
  font-size: 15px;
  background: #efefef;
  border: none;
  color: #494949;
  border-radius: 0px;
  outline: none;
  transition: all 0.2s ease;
}
.input-parent input:hover {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
}
.input-parent input:focus {
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 0px 0px 1px #0087ff;
}
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 10px 18px;
  font-size: 16px;
  background: #0590ff;
  width: 100%;
  border: none;
  border-radius: 0px;
  color: #f4f4f4;
  transition: all 0.2s ease;
}
button:hover {
  font-family: "Montserrat", sans-serif;
  opacity: 0.9;
}
button:focus {
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 0px 0px 3px black;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: url(auth_bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.stl-log-texts {
  font-size: 15px;
  padding-bottom: 8px;
  color: #fff;
  text-align: center;
}

.num-log-stl {
  color: #0087ff;
  text-decoration: none;
}
