body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0px 300px;
}

html {
  scroll-behavior: smooth;
}

/* /////////////////////////////////////////////////////////////////////// */

/* header block */

.header-line {
  z-index: 100;
  width: 100%;
  background-color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 50px;
}

.header {
  background-image: url(../img/bg-new.jpg);
  background-attachment: fixed;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-holder {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.logo-txt {
  font-size: 25px;
  color: #fff;
  padding-left: 30px;
  font-weight: 600;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-right: 25px;

  transition: color 0.3s linear;
}

.nav-item:hover {
  color: #0590ff;
}

.cart {
  position: relative;
  border-right: 1px solid #ffff;
  padding-right: 10px;
  height: 50px;
}

.btn-call-holder {
  display: flex;
  align-items: center;
}

.cart-img {
  position: absolute;
  top: 18px;
  right: 10px;
}

.num {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s linear;
}

.num:hover {
  color: #0590ff;
}

.phone-txt {
  font-weight: 200;
  color: #fff;
  font-size: 16;
}

.phone-holder {
  display: flex;
  align-items: center;
}

.phone-img {
  padding-right: 10px;
}

.buton {
  margin-left: 25px;
  margin-right: 15px;
  font-size: 14px;
  padding: 10px 18px;
  background-color: #0590ff;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s linear;
}

.buton:hover {
  background-color: #043863;
}

.menu-img {
  height: 40px;
}

.header-title {
  padding-top: 150px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.header-subtitle {
  padding-top: 22px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

/* /////////////////////////////////////////////////////////////////////// */

/* cards block */

.card {
  box-shadow: 10px 10px 40px 20px #0000001a;
  width: 30%;
  max-width: 400px;
  margin-right: 30px;
  margin-bottom: 50px;
  background-color: #fff;
  margin-top: -80px;
  padding: 0px 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-holder {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}

.card-image {
  height: 100px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.card-title {
  color: #292929;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.card-subtitle {
  color: #959595;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

/* /////////////////////////////////////////////////////////////////////// */

/* system-block*/

.system-block {
  padding-top: 50px;
  padding-bottom: 80px;
}

.container-system {
  height: 600px;
}

.system-block-texts {
  width: 70%;
}

.about-sys-text {
  padding-top: 16px;
  color: #292929;
  font-size: 22px;
  text-align: left;
  font-weight: 600;
}

.about-system-title {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 500;
  color: #434f53;
  text-align: justify;
}

.about-system-subtitle {
  padding-top: 20px;
  font-size: 15px;
  color: #434f53;
  text-align: justify;
}

.system-svg-txt {
  padding-top: 80px;
  padding-bottom: 70px;
  color: #292929;
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  text-align: center;
}

.scheme-svg {
  width: 80%;
  margin: auto;
  display: block;
}

.about-img {
  height: 400px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.center-about-image {
  text-align: center;
}

.about-holder {
  justify-content: center;
  display: flex;
}

/* /////////////////////////////////////////////////////////////////////// */

/* download block */

.history {
  margin-top: 100px;
}

.history-about-syst-text {
  padding-bottom: 30px;
  font-size: 40px;
  width: 450px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.history-title {
  color: #656363;
  width: 450px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

.history-desc {
  color: #656363;
  width: 450px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

.app-block {
  padding: 40px 0;
  background-image: url(../img/download-bg.jpg);
  background-attachment: fixed;
  margin-bottom: 50px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.center-app-button {
  text-align: center;
}

.left-title {
  width: 70%;
  color: #0590ff;
  font-size: 30px;
  margin-bottom: 20px;
}

.left-text {
  width: 60%;
  color: #fff;
  font-size: 20px;
}

.right-btn {
  font-size: 16px;
  padding: 12px 30px;
  background-color: #0590ff;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s linear;
}

.right-btn:hover {
  background-color: #043863;
}

.block-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* /////////////////////////////////////////////////////////////////////// */

/* download block */

.download {
  background-image: url(../img/download-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.download-title {
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

.download-img {
  height: 70px;
}

.download-item {
  background-color: #fff;
  text-align: center;
  width: 20%;
  padding-top: 50px;
  padding-bottom: 45px;
  margin-right: 30px;
}

.download-text {
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 17px;
}

.download-subtext {
  font-size: 16px;
}

.download-btn {
  transition: background-color 0.3s linear;
  padding-top: 37px;
  background-color: #0590ff;
  text-decoration: none;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  box-shadow: 5px 5px 10px 0px #00000040;
  font-family: "Montserrat", sans-serif;
}

.download-button {
  margin-top: 20px;
}

.download-btn:hover {
  background-color: #043863;
}

.download-items {
  display: flex;
  justify-content: center;
}

/* /////////////////////////////////////////////////////////////////////// */

/* FAQ */
#faq {
  max-width: 1000px;
  margin: auto;
  padding: 40px 15px;
  text-align: center;
}

section.faq {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq ul {
  text-align: left;
}
.transition,
p,
ul li i:before,
ul li i:after {
  transition: all 0.3s;
}

#faq .no-select,
#faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#faq h1 {
  padding-top: 25px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin-bottom: 30px;
  margin-top: 0;
}

#faq h2 {
  font-family: "Montserrat", sans-serif;
  color: #0087ff;
  font-size: 18px;
  line-height: 34px;
  text-align: left;
  padding: 15px 15px 0;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
}

#faq p {
  font-family: "Montserrat", sans-serif;
  color: #333;
  text-align: left;
  font-size: 15px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  max-height: 1000px;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 50px 0 15px;
  transition: 0.3s opacity, 0.6s max-height;
  hyphens: auto;
  z-index: 2;
}

#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /*padding-bottom: 4px;*/
  /*padding-top: 18px;*/
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent;
}
#faq ul li + li {
  margin-top: 14px;
}
#faq ul li:last-of-type {
  padding-bottom: 0;
}
#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}
#faq ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #0087ff;
  width: 3px;
  height: 9px;
}
#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#faq ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
#faq ul li input[type="checkbox"]:checked ~ h2 {
  color: #000;
}
#faq ul li input[type="checkbox"]:checked ~ p {
  /*margin-top: 0;*/
  max-height: 0;
  transition: 0.3s;
  opacity: 0;
  /*transform: translate(0, 50%);*/
}
#faq ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#faq ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html,
body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: 0.2s ease-in-out;
}

h1,
h2,
h3,
h4 {
  margin: 0.3em 0;
}

ul {
  padding: 0;
  list-style: none;
}

/* carousel block */

.carousel-card {
  height: 350px;
  padding-bottom: 50px;
}
.title {
  font-size: 25px;
  color: white !important;
  margin: 0 !important;
}

.subtitle {
  font-size: 18px;
  color: white !important;
  margin: 15px 0 25px !important;
  font-weight: normal;
}

.sliderCta {
  font-size: 16px;
  padding: 10px 25px;
  background-color: #0087ff;
  text-decoration: none;
  color: white;
}

#myContainer {
  height: 100vh;
}

#slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.singleSlide {
  background-size: cover;
  background-position: center;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0px;
  opacity: 0;
}

.slideOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* .sliderNav {
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent;
  text-indent: -9999px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transition: all 250ms ease-in-out;
  text-decoration: none;
  color: transparent;
} */

.sliderNav:hover {
  cursor: pointer;
}

#sliderPrev {
  transform: rotate(-45deg);
  left: 25px;
}

#sliderNext {
  right: 25px;
  transform: rotate(135deg);
}

#sliderNext img,
#sliderPrev img {
  width: 32px;
}

#dots {
  /* position: absolute; */
  bottom: 20px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: center;
}
.dot {
  margin: 12px;
  background-color: gray;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  cursor: pointer;
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slideIn {
  -webkit-animation: slideIn 0.3s forwards linear;
  animation: slideIn 0.3s forwards linear;
}

.slideOut {
  -webkit-animation: slideOut 0.3s forwards linear;
  animation: slideOut 0.3s forwards linear;
}

@-webkit-keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* PERSONAL CSS */

#mySlider {
  padding-top: 30px;
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* footer block */

.footer-bg {
  background-color: #292929;
  height: max-content;
}

.row_style {
  height: 50px;
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.footer_canc {
  padding-top: 80px;
}

.footer_canc_text {
  width: 90%;
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
}

.icon-location {
  padding-right: 20px;
}

.canc_adress {
  color: #959595;
  width: 350px;
  line-height: 1.5;
}

.footer-holder {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.footer-hr {
  width: 100%;
  height: 0;
  border: 1px solid #959595;
  margin: 3px;
  display: inline-block;
}

.footer-copy {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 15px;
  color: #959595;
}

.canc_adress {
  font-size: 15px;
}

.num-log-stl {
  color: #0087ff;
  text-decoration: none;
}

.burger-menu {
  display: none;
}

.block {
  display: block;
}

.burger-slide {
  position: absolute;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.disp {
  display: none;
}

/* media 1500 */
/* /////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1500px) {
  .header-title {
    position: static;
    text-align: center;
  }

  .system-block-texts {
    width: 90%;
  }

  .card {
    box-shadow: 10px 10px 30px 20px #0000001a;
    width: 30%;
    max-width: 400px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    margin-top: -80px;
    padding: 0px 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .header-subtitle {
    position: static;
    text-align: center;
  }

  .about-holder {
    display: block;
  }

  .center-about-image {
    text-align: center;
  }

  .system-block-texts {
    margin: 20px auto;
  }

  .about-image {
    margin-left: auto;
    margin-right: auto;
  }
  .download-items {
    display: block;
  }

  .download-item {
    margin: 20px auto;
    width: 40%;
  }
}

/* media 1300 */
/* /////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1350px) {
  .card-holder {
    display: block;
  }

  .card {
    margin: 20px auto;
    width: 400px;
  }

  .header-title {
    position: static;
  }

  .download-items {
    display: block;
  }

  .download-item {
    margin: 20px auto;
    width: 30%;
  }

  .left-title,
  .left-text,
  .right-button {
    margin: 20px auto;
    width: 400px;
    text-align: center;
  }

  .about-holder {
    display: block;
  }

  .system-block-texts {
    margin: 20px auto;
  }

  .about-image {
    margin-left: auto;
    margin-right: auto;
  }

  #faq {
    width: 90%;
  }

  .block-holder {
    display: block;
  }

  .right-button {
    margin-top: 30px;
  }

  .footer-holder {
    display: block;
  }

  .footer_canc {
    margin: 20px auto;
  }

  .footer-copy {
    width: 400px;
    margin: 10px auto;
  }

  .burger-menu {
    display: block;
  }

  .nav,
  .cart,
  .phone {
    display: none;
  }

  .header-line {
    justify-content: space-between;
  }

  .container {
    margin: 0px 100px;
  }

  .nav-item {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #292929;
  }

  .block {
    display: block;
  }

  .nav-item:hover {
    color: #0087ff;
  }
}

@media (max-width: 1050px) {
  .slider {
    position: relative;
    max-width: 100%;
    height: 300px;
    margin: 20px 10px;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .slide-title {
    text-align: center;

    margin-bottom: 18px;
    font-size: 10px;
    margin-right: 15px;
  }

  .slide-text {
    text-align: center;

    font-size: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
  }
}

/* media mobile 780 */

@media (max-width: 780px) {
  html {
    overflow-x: hidden;
  }

  .slide-title {
    text-align: center;

    margin-bottom: 18px;
    font-size: 10px;
    margin-right: 15px;
  }

  .slide-text {
    text-align: center;

    font-size: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
  }

  #faq h2 {
    font-family: "Montserrat", sans-serif;
    color: #0087ff;
    font-size: 16px;
    line-height: 34px;
    text-align: left;
    padding: 15px 15px 0;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s;
  }

  .slide-image img {
    display: none;
  }

  .slide-content {
    width: 100%;
    padding: 10px 0px;
    align-items: center;
    text-align: center;
  }

  .header {
    margin-right: 0;
    background-image: url(../img/bg-new.jpg);
    background-attachment: local;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .download {
    background-color: #292929;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
  }

  .app-block {
    padding: 40px 0;
    background-color: #292929;
    background-attachment: local;
    margin-bottom: 50px;
  }

  .nav-item {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
  }

  .block {
    display: block;
  }

  .nav-item:hover {
    color: #0087ff;
  }

  .download-title {
    font-size: 22px;
  }

  .download-item {
    width: 70%;
  }

  .subtitle-faq {
    font-size: 12px;
    text-align: justify;
  }
  .about-holder {
    display: block;
    width: 100%;
  }

  .system-block-texts {
    width: 80%;
  }

  .about-system-title,
  .about-system-subtitle {
    font-size: 14px;
  }

  .about-sys-text {
    font-size: 18px;
  }

  .scheme-svg {
    width: 90%;
  }
  .system-block-texts {
    width: 90%;
  }

  .system-svg-txt {
    font-size: 18px;
  }

  .header-line {
    /* width: 100%; */
    justify-content: space-between;
  }

  .card {
    width: 80%;
  }

  .card-image {
    height: 70px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .container {
    margin: 0px 20px;
  }

  .header-title {
    font-size: 20px;
  }

  .left-title {
    width: auto;
    font-size: 20px;
  }
  .left-text {
    width: auto;
    font-size: 17px;
  }

  .canc_adress {
    width: 100%;
  }

  .footer-copy {
    width: auto;
  }

  .row_style {
    width: auto;
  }

  #faq {
    width: 90%;
    padding: 0 0;
  }

  .subtitle-faq {
    text-align: justify;
  }

  .download-item {
    width: 90%;
  }

  .header {
    height: 500px;
  }

  .arrow-img {
    display: none;
    height: 30px;
    width: 30px;
  }

  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 16px;
  }

  .carousel-card {
    padding-bottom: 20px;
  }

  .slideOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .right-button {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .about-img {
    display: none;
  }

  .card {
    width: auto;
  }
}

@media (max-width: 470px) {
  .logo-holder,
  .about-img {
    display: none;
  }
}

/* ///////////////////////////////////////////////////////////////////// */

/* arrow top */

.akeconsa-udaneles {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 9;
}
.akeconsa-udaneles a {
  height: 50px;
  width: 50px;
  text-align: center;
  display: block;
  border-radius: 2px;
}
.akeconsa-udaneles a span {
  color: #f7f0f0;
  font-size: 30px;
  line-height: 42px;
  cursor: pointer;
}

.arrow-img {
  height: 40px;
  width: 40px;
}

/* ////////////////////news block/////////////////////// */

.carousel-wrapper {
  height: 350px;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow {
  border: solid #0590ff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}

@media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.news-title {
  text-align: center;
}

.slide-content {
  width: 100%;
  max-width: 1000px;
  padding: 10px 10px;
}

.slide-link {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;

  text-decoration: none;
  background-color: #0590ff;
}

.slide-title {
  color: #fff; /* Цвет текста */

  margin-bottom: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.slide-text {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.761), rgba(0, 0, 0, 0.307)),
    url("https://www.gov.kz/uploads/2022/9/27/0d1f1593577f714881b26daa59ee877d_1280x720.jpeg");
  background-size: cover;
}

.item-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.761), rgba(0, 0, 0, 0.307)),
    url("https://www.gov.kz/uploads/2022/9/15/9a6706fd39432901c109096ea4acd404_1280x720.jpg");
  background-size: cover;
}
.item-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.761), rgba(0, 0, 0, 0.307)),
    url("https://www.kazenergy.com/upload/iblock/bcb/bcb021468777a1800b9a672a0c32a1e4.jpg");
  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}
